<h1>Get words</h1>
  <tr>
    <td><%= word_set.text_id %></td>
    <td><%= word_set.ch %></td>
    <td><%= word_set.pin %></td>
    <td><%= word_set.jp %></td>
    <td><%= link_to 'Show', word_set %></td>
    <td><%= link_to 'Edit', edit_word_set_path(word_set) %></td>
    <td><%= link_to 'Destroy', word_set, confirm: 'Are you sure?', method: :delete %></td>
  </tr>

<br />

<%= link_to 'New Word set', new_word_set_path %>
