<h1>Listing word_sets</h1>

<table>
  <tr>
    <th>Text id</th>
    <th>Ch</th>
    <th>Pin</th>
    <th>Jp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @word_sets.each do |word_set| %>
  <tr>
    <td><%= word_set.text_id %></td>
    <td><%= word_set.ch %></td>
    <td><%= word_set.pin %></td>
    <td><%= word_set.jp %></td>
    <td><%= link_to 'Show', word_set %></td>
    <td><%= link_to 'Edit', edit_word_set_path(word_set) %></td>
    <td><%= link_to 'Destroy', word_set, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Get words', :controller => 'word_sets', :action => "get_words" %>

<br />

<%= link_to 'New Word set', new_word_set_path %>

<!-- debug -->
<br/>
<br/>
params.length => <%= @params.length %>
<br/>
<br/>
@word_sets.first() => <%= @word_sets.first()%>
<br/>
<br/>
<!-- @word_sets.first().methods.sort.to_s => <%#= @word_sets.first().methods　%> -->



<br/>
<br/>
<%= render 'form_index' %>

<br/>
<br/>
params.keys => <%= @params.keys %>
