<h1>Listing word_sets</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Ch</th>
    <th>Pin</th>
    <th>Jp</th>
    <th>Text id</th>
    <th></th>
    
  </tr>

<% @word_sets.each do |word_set| %>
  <tr>
    <td class="id"><%= word_set.id %></td>
    <td class="words"><%= word_set.ch %></td>
    <td class="words"><%= word_set.pin %></td>
    <td class="words"><%= word_set.jp %></td>
    <td class="id"><%= word_set.text_id %></td>
    <td><%= link_to 'Show', word_set %></td>
    
  </tr>
<% end %>
</table>

<%= link_to 'Get words', :controller => 'word_sets', :action => "get_words" %>

<br />
<br />

<%= link_to 'New Word set', new_word_set_path %>

<br/>
<br/>
<%= render 'form_index' %>
