<h1>GetWords#main</h1>

<%= render 'form' %>

<!-- <%= @message %>

<%= @word_set %><br/>
<%= @word_set.ch %><br/>
<%= @word_set_special %><br/>

<br/>

<% @word_set_special.each do |word_set| %>
<%= @word_set.ch %><br/>
<% end %> -->
