<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b><br/>
  <%= @text.title %>
</p>

<p>
  <b>Text:</b><br/>
  <%= @text.text %>
</p>

<p>
  <b>Url:</b><br/>
<!--   <%= @text.url %> -->
	<%#= link_to @text.url, "http://www.newenergy.org.cn/html/0119/9271142760.html" %>
	<%= link_to @text.url, @text.url, {:target => "_blank"} %>

</p>

<p>
  <b>Genre:</b><br/>
  <%= @text.genre %>
</p>

<p>
  <b>Created at:</b><br/>
  <%= @text.created_at %>
</p>

<p>
  <b>Updated at:</b><br/>
  <%= @text.updated_at %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<td><%= link_to 'Destroy', @text, confirm: 'Are you sure?', method: :delete %></td> |
<%= link_to 'Back', texts_path %>
