<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @text.text %>
</p>

<p>
  <b>Url:</b>
<!--   <%= @text.url %> -->
	<%#= link_to @text.url, "http://www.newenergy.org.cn/html/0119/9271142760.html" %>
	<%= link_to @text.url, @text.url, {:target => "_blank"} %>

</p>

<p>
  <b>Genre:</b>
  <%= @text.genre %>
</p>


<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
